@model PFE.Models.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenomemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenomemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddeptNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddeptNavigation.Iddept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdequipeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdequipeNavigation.Idequipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdgroupeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdgroupeNavigation.Idgroupe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idemp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
