@model IEnumerable<PFE.Models.Conge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datedebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datefin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typeconge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdemployeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datedebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datefin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typeconge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdemployeNavigation.Idemp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idconge">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idconge">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idconge">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
