@model IEnumerable<PFE.Models.Sortieanticipee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Durees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddetailNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Durees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddetailNavigation.Iddetail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idsortie">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idsortie">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idsortie">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
